# Compilados Java
*.class

# Logs
*.log

# Diretórios de build
/out/
/build/
/target/

# Configurações do IntelliJ IDEA
/.idea/
*.iml
*.iws

# Arquivos temporários
.DS_Store
Thumbs.db

# VSCode
.vscode/
